@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

ul{
  list-style-type: none;
}
img{
  max-width: 100%;
}
body {
  margin: 0;
  font-family: "Outfit",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.instagram {
  background: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}